{% extends 'base.html' %}
{% block title %}{{ g.translations['Reset_Password_Request'] }}{% endblock %}
{% block content %}
<div class="form-container">
    <form action="{{ url_for('reset_password_request') }}" method="post" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group-login-signup">
            <input type="email" name="email" placeholder="{{ g.translations['Enter_your_email_address'] }}" required><br>
            <input type="submit" value="{{ g.translations['Request_Password_Reset'] }}">
        </div>
    </form>
</div>

{% if not current_user.is_authenticated %}
<div class="form-container">
<div class="form-group-login-signup">
<a href="{{ url_for('login') }}" class="redirect-button">&#x2001;{{ g.translations['Back_to_Login'] }}</a>
</div>
</div>
{% endif %}

{% endblock %}
