<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <title>{{ g.translations['Reset_Your_Password'] }}</title>
    <style>
        body {
            direction: {{ 'rtl' if language == 'ar' else 'ltr' }};
            text-align: {{ 'right' if language == 'ar' else 'left' }};
        }
    </style>
</head>
<body>
    <p>{{ g.translations['Hi'] }} {{ user.full_name }}{{ g.translations['comma'] }}</p>
    <p>{{ g.translations['To_reset_password'] }}:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
    <p>{{ g.translations['Reset_Link_usage_info'] }}</p>
    <p>{{ g.translations['Ignore_email_if_not_requested'] }}</p>
    <p>{{ g.translations['Best_regards'] }}{{ g.translations['comma'] }}<br>{{ g.translations['Mist_Team'] }}</p>
</body>
</html>
