{% extends 'base.html' %}
{% block title %}{{ g.translations['Reset_Your_Password'] }}{% endblock %}
{% block content %}
<h1>{{ g.translations['Reset_Your_Password'] }}</h1>
<div class="form-container">
<form action="{{ url_for('reset_password', token=token) }}" method="post" autocomplete="off" onsubmit="return validateAndConfirmPassword();">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="form-group-login-signup">
    <input type="password" id="password" name="password" placeholder="{{ g.translations['Enter_new_password'] }}" autocomplete="new-password" required><br>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="{{ g.translations['Confirm_new_password'] }}" autocomplete="new-password" required><br>
    <span id="passwordMessage"></span><br>
    <input type="submit" value="{{ g.translations['Reset_Password'] }}">
</div>
</form>
</div>


{% if not current_user.is_authenticated %}
<div class="form-container">
<div class="form-group-login-signup">
<a href="{{ url_for('login') }}" class="redirect-button">&#x2001;{{ g.translations['Back_to_Login'] }}</a>
</div>
</div>
{% endif %}


{% endblock %}
